* 
{ 
    margin: 0px; 
    padding: 0px; 
    list-style: none; 
}
body 
{
    background-color:aqua;
    font-family: sans-serif;
}
#headcenter 
{
    text-align:center;
}
#header 
{
    background-color:black;
    width:100%;
}
.subtop li 
{ 
    /*background: #333; 
    color: #fff; 
    padding: 4px 2px; 
    border-bottom: 1px solid #e0e0e0;*/ 
}
.subtop2 li {
    color: #FF0000;
}
.top 
{
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
}
.top li
{
    display:inline-block;  
}
.top li a 
{
    color:red;
    display:block;
    padding:15px;
}
.subtop, .subtop2 
{
    display:none;
    position:absolute;
}
.subtop li 
{
    display:block;
}
.top li:hover 
{
    background-color:blue;
}
.top li:hover .subtop
{ 
    display: block; 
}
.subtop li:hover .subtop2 
{
    display:block;
}